<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adoptfor</title>
</head>
<body>
    <form action="/myapp/adoprrfor/" method = 'post'>
        {% csrf_token %}

      <label for="petname">寵物名:</label><br>
      <input type="text" id="petname" name="petname" value=""><br><br>
      <label for="petsex">寵物性別:</label><br>
      <input type="text" id="petsex" name="petsex" value=""><br><br>
      <label for="picture">圖片:</label><br>
      <input type="text" id="picture" name="picture" value=""><br><input type="file" id="pic" style="margin-left:20%;" name="pic" value=""><br><br>
      <label for="place">收容所:</label><br>
      <input type="text" id="place" name="place" value=""><br><br>
      <label for="varity">品種:</label><br>
      <input type="text" id="varity" name="varity" value=""><br><br>
      <label for="yellowcard">有沒有晶片:</label><br>
      <input type="text" id="yellowcard" name="yellowcard" value=""><br>
      <label for="yellowcardnumber">晶片號碼:</label><br>
      <input type="text" id="yellowcardnumber" name="yellowcardnumber" value="num"><br><br>
      <label for="userwho">寵物主人:</label><br>
      <input type="text" id="userwho" name="userwho" value=""><br><br>
      <label for="phone">電話號碼:</label><br>
      <input type="text" id="phone" name="phone" value=""><br><br>
      <label for="why">不養原因:</label><br>
      <input type="text" id="why" name="why" value=""><br><br>
      <input type="submit" value="送出">
    </form>
</body>
</html>