<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/mywork/others" method="post">
                {% csrf_token %}
 <form action="/action_page.php"><br><br>
      <select id="kind-of-animal" name="animal" >
      <option value="ox">混種</option>
      </select>
    <form action="/action_page.php"><br><br>
      <label for="sex">選一個來源地區:</label><br><br>
      <select id="form" name="area" style="width:50px; height:20px;" >
      <option value="SUO">蘇澳鎮</option>
      </select><br><br>
      <input type="submit" value="確定" style="width:50px; height:25px;">
        </form>
        </form>

</form>
</body>
</html>